*{
    max-width: 1000px;
}
html{
    margin: 0 auto;
}

body{
    margin-top:40px;
    padding: 0;
}

/*navbar*/
#main_navbar{
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    background-color: #ffffff;
}
#main_navbar ul{
    margin: 0;
    display: flex;
    padding: 10px 0px;

}
#main_navbar li{
    display: inline-block;
    margin: 0 auto;
}
.main_navbar_item{
    text-decoration: none;
    color: black;
}
#main_navbar a{
    width: 100%;
    vertical-align: 0;
    padding: 10px 10px;
}
#main_navbar a:hover{
    background-color: gold;
}
#main_navbar li{
    text-align: center;
    width: 100%;
    border-right: 1px solid #000000;
}
#main_navbar .end{
    border-right: 0;
}
/*banner style*/
#main_banner{
    padding-top: 40px;
    background-image: url("images/pexels-photo-355770.jpeg");
    background-size: cover;
    height: 300px;
    background-position-y: 100%;
}
#slogan{
    margin: 5% 5%;
}
/*main content*/
#pointer{
    font-weight: bold;
    margin: 10px 0px 0 ;
}

#main_content{

    display: flex;
}
.benefit{
    margin: 5px 10px;
    padding: 5px;
    border-right: black solid 1px;
    font-size: smaller;
    /*display: inline-block;*/
    /*max-width: 100px;*/
}

.benefit:last-child{
    border-right:0;
}
.title{
    font-size: large;
}
#scenario p:first-letter{

    /*color: red;*/
    font-size: large;
}

#scenario{
    text-indent: 15px;
    margin: 0 auto;
}

footer{
    bottom: 0;
    margin: 40px 0 auto;
    color: #b4a980;
    background-color: #ffffff;
    font-size: smaller;
}
#copyr-info{
    display: flex;

}
#copyr-info p{
    margin: 0 15px;
    padding: 5px;
}


#secure-stuff{
    width: 50%;
    display: flex;
    margin: 0 auto;
    padding: 5px;
}

#secure-stuff li{
    display: inline-block;
    margin: 0 auto;
}
#secure-stuff a{
    text-decoration: none;
    color: #b4a980;
    padding: 4px;
}
#secure-stuff a:hover{
background-color: #666666;
    color: white;
}
