<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/underscore/underscore.js"></script>
<script src="app.js"></script>

<script type="text/template" id="item-template">
    <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
    <label class="record"><%= title %></label>
    <input class="edit" id="todoediting" value="<%= title %>">
    <input class="edit" id="tododate" type="date" value="<%= todoDate %>">
    <button class="destroy">delete</button>

</script>



</body>
</html>