*{
    box-sizing: border-box;


}
body {
    margin: 0 0 0 0;
}

.ul_navbar_list{
    /*margin: 0;*/
    margin: auto;

}
.ul_navbar_list > li{
    display: inline-block;
    /*text-align: center;*/
}
.ul_navbar_list > li > a{
    /*display: inline-block;*/
    /*text-align: center;*/
    margin: 40px;
}
header {
    height: 100px;
    background-color: #b4a980;

}
nav{
    height: 50px ;
    background-color: #dde7d7;
    display: flex;

}

section,
article{
    float: left;
    height: 200px;
    width:66%;
    background-color: #c4f8e4;
}
aside{

    float: right;
    height: 400px;
    width: 30%;
    background-color: #accd9b;
}

footer{

    clear: both;
    margin-bottom: 0;
    height: 100px;
    background-color: black;

}