*{
    box-sizing: border-box;


}
html, body {
    height: 100%;
}
body {
    margin: 0 0 0 0;
}

.ul_navbar_list{
    /*margin: 0;*/
    white-space: nowrap;
    margin: auto;

}
.ul_navbar_list > li{
    display: inline-block;
    /*text-align: center;*/
}
.ul_navbar_list > li > a{
    text-decoration: none;
    color: black;
    font-family: "Bauhaus 93";
    font-weight: bold;
    font-size: 25pt;
    /*display: inline-block;*/
    /*text-align: center;*/
    padding:  0 50px;
    border-radius: 10px;
}
.ul_navbar_list > li > a:hover{

    color: #ffffff;
    background-color: #7e7458;
}

header {
    min-height: 100px;
    background-color: #b4a980;
    background-image: url("../style/bg_drawing.jpg");
    background-position: center;
    background-size: cover
}

nav{
    min-height: 50px ;
    background-color: #dde7d7;
    display: flex;

}

section,
article{
    float: left;
    height: 50%;
    width: 60%;
    background-color: #c4f8e4;
}
aside{
    float: right;
    height: 100%;
    width: 40%;
    background-color: #accd9b;
}

footer{
    clear: both;
    /*display: flex;*/
    height: auto;
    margin-bottom: 0;
    min-height: 10%;
    /*background-color: black;*/
}

footer > img{
    display: inline-block;
}