.fullname a,.fullname a:visited{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.fullname a:hover, #upload:hover{
color: red;
}
#upload{
    text-decoration: none;
    color: #000000;
    background-color: #aecab6;
}
#cube{
    margin-top: 10px;
}
.entry div {
    display: inline;
}

#files{
    border-collapse: collapse;
}

.col0{
    border-right: solid black 1px;
}
.col1{
    border-right: solid black 1px;
}
tr{
    border-bottom: solid black 1px;
}


/* Popup container */
.upload {
    color:red;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.upload .uploadtext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.upload .uploadtext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.upload .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
