html{
    background-color: #b4a980;
}

.header{
    font-weight: bold;
    padding: 7px;
}
.grid-item {
    background-color: rgba(207, 207, 207, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom:  1px solid rgba(0, 0, 0, 0.8);
    padding: 7px;
    font-size: 15px;
    /*text-align: left;*/
}
.grid-item:nth-child(3n){
    border-right: none;
}
.grid-item:nth-last-child(-n+3){
    border-bottom: none;
}

/*.header{*/
    /*display: flex;*/
    /*font-weight: bold;*/
    /*align-items: center;*/
/*}*/

.filename{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.filename img{
    margin-right: 5px;

}
.imgdir{
    height: 12px;
    width: 11px;
}
.imgfile{
    height: 10px;
    width: 10px;
}