html {
    box-sizing:content-box;
}

.fullname a,.fullname a:visited{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.fullname a:hover, #upload:hover{
color: red;
}
#upload{
    text-decoration: none;
    color: #000000;
    background-color: #aecab6;
}
#cube{
    margin-top: 10px;
}
.entry div {
    display: inline;
}

#files{
    border-collapse: collapse;
}

.col0{
    border-right: solid black 1px;
}
.col1{
    border-right: solid black 1px;
}
tr{
    border-bottom: solid black 1px;
}


/* Popup container */

.upload {
    /*color:red;*/
    position: relative;
    display: inline-block;
    cursor: pointer;
}
#uploadform{
    position: relative;
    height: 100%;
}
#uploaddialog{
    padding: 0;
    margin: 0;
}
#uploadinput{
    width: 100%;
    margin:5px;
    font-size: 10px;

}
#buttcont{
    position: absolute;
    bottom: 5px;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#uploadbutt{
    font-size: 10px;
    /*margin: 0 5%*/
}
/* The actual popup (appears on top) */
.uploadtext {
    visibility: hidden;
    width: 200px;
    height: 70px;
    background-color: #f1f8fa;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    border: solid 1px black;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    /*margin-left: 180px;*/
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


/* Popup arrow */
.upload .uploadtext::after {
    /*content: "";*/
    /*position: absolute;*/
    /*top: 100%;*/
    /*left: 50%;*/
    /*margin-left: -5px;*/
    /*border-width: 5px;*/
    /*border-style: solid;*/
    /*border-color: #555 transparent transparent transparent;*/
}



#clseupload{
    position: absolute;
    padding: 0px 3px;
    left: 89%;
    top: 5%;
    /*right: 0;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}
#clseupload:hover{
    background-color: #c58394;
}